<p id="notice"><%= notice %></p>

<div id="greeting">
  <% current_user = JSON.load(cookies[:current_user]) %>
  <% if not current_user.nil? %> 
       <p>Hello, <%= current_user['name'] %></p>      
  <% else %>
       <p><%= link_to 'Sign In', new_user_path %></p>
  <% end %>
</div>

<h1>Listing Notes</h1>

<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th></th>
      <th>Updated On</th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td><%= note.content %></td>
        <td><%= note.user.nil? ? 'nil' : note.user.name %></td>
        <td></td>
        <td><%= note.updated_at %></td>
        <td></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!-- Display new note partial view -->
<%= render :partial => 'form' %>
