<%= form_for(@user, :html=> {:id => 'signin_user'}) do |f| %>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="actions">
    <%= f.submit 'Sign In'%>
  </div>
<% end %>
