// Place all the styles related to the Notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#greeting
{
	position: absolute;
    top: 0px;
    right: 0px;
    margin:1em;
    padding:1em;
}